<div [class]="'card-wrapper ' + ( show ? 'active' : '' )">
  <div class="card">
    <div class="card_">
      <div class="head">
        <span class="close-icon-wrapper" (click)="close()">
          <app-close-icon class="close-icon" [size]="22"></app-close-icon>
        </span>
        <div class="title">
          <h3>سبد خرید شما</h3>
        </div>
      </div>

      <div class="details">
        <div class="row" *ngFor="let book of books">
          <div class="img-box">
            <img [src]="book.imageUrl" alt="">
          </div>
          <div class="detail">
            <div class="book-title">
              <p>{{book.title}}</p>
            </div>
            <div class="book-price">{{book.price}} تومان</div>
          </div>
        </div>
      </div>

      <div class="total-price">
        <p>مجموع خرید شما {{totalPrice}} تومان</p>
      </div>
    </div>
  </div>
</div>
