<div [class]="'card-wrapper ' + ( show ? 'active' : '' )">
  <div class="card">
    <div class="card_">
      <div class="title">
        <h3>سبد خرید شما</h3>
      </div>

      <div class="details">
        <div class="row">
          <div class="img-box">
            <img src="/assets/images/book-cover-001.jpg" alt="">
          </div>
          <div class="detail">
            <div class="book-title">
              <p>کتاب سمفونی مردگان</p>
            </div>
            <div class="book-price">130,000 تومان</div>
          </div>
        </div>
        <div class="row">
          <div class="img-box">
            <img src="/assets/images/book-cover-001.jpg" alt="">
          </div>
          <div class="detail">
            <div class="book-title">
              <p>کتاب سمفونی مردگان</p>
            </div>
            <div class="book-price">130,000 تومان</div>
          </div>
        </div>
      </div>

      <div class="total-price">
        <p>مجموع خرید شما 260,000 تومان</p>
      </div>
    </div>
  </div>
</div>
